<launch>
  <group ns="arti_navigation">
    <node pkg="arti_navigation" type="multi_goal_publisher_node" name="goal_publisher" output="screen">
      <remap from="way_point" to="/way_point"/>
      <remap from="goal" to="/move_base_simple/goal"/>
      <remap from="odom" to="/rtabmap/odom"/>
      <param name="distance_tolerance" value="0.6"/>
    </node>
<!--     <node pkg="arti_navigation" type="costmap_cleanner" name="costmap_cleanner" output="screen">
      <param name="service_name" value="/planner/move_base/clear_costmaps"/>
      <param name="frequency" value="0.1"/>
    </node> -->
  </group>
</launch>