<?xml version="1.0"?>

<launch>


  <!-- ############################################################################################################## -->
  <!-- The path publisher node is invoked here -->
  <node pkg="interactive_path_publisher" type="IPPNode" respawn="true" name="path_publisher" output="screen" />
  <!-- ############################################################################################################## -->

  <!-- ############################################################################################################## -->
  <!-- The pure pursuit controller node is invoked here -->
  <include file="$(find pure_pursuit_controller)/launch/pure_pursuit_controller.launch"/>
  <!-- ############################################################################################################## -->

  <!-- ############################################################################################################## -->
  <!-- RViz is invoked here -->
  <node name="rviz_client" pkg="rviz" type="rviz" respawn="true" args="-d $(find dad_local_planner)/rviz/viz1.rviz"/>
  <!-- ############################################################################################################## -->


</launch>
