<launch>
	<arg name="voc_file" default="/home/zeng/voc.txt"/>
	<arg name="setting_file" default="$(find arti_vision)/config/zed.yaml"/>

	<node pkg="ORB_SLAM2" type="RGBD" args="$(arg voc_file) $(arg setting_file)" name="orb_slam2" output="screen">
		<remap from="camera/rgb/image_raw" to="/camera/rgb/image_rect_color"/>
		<remap from="camera/depth_registered/image_raw" to="/camera/depth/image_rect_color"/>
	</node>
	
</launch>