<?xml version="1.0"?>
<!-- This is a Track Block Link File -->
<model xmlns:xacro="http://ros.org/wiki/xacro" name="track_block">
<xacro:macro name="track_block" params="name_prefix body_prefix *link_pose *body_size">
<link name='${body_prefix}_${name_prefix}_block'>
  <xacro:insert_block name="link_pose"/>
  <inertial>
    <mass>1</mass>
    <inertia>
      <ixx>0.166667</ixx>
      <ixy>0</ixy>
      <ixz>0</ixz>
      <iyy>0.166667</iyy>
      <iyz>0</iyz>
      <izz>0.166667</izz>
    </inertia>
    <pose>0 0 0 0 -0 0</pose>
  </inertial>
  <self_collide>0</self_collide>
  <kinematic>0</kinematic>
  <gravity>1</gravity>
<!--   <visual name='visual'>
    <geometry>
      <box>
        <xacro:insert_block name="body_size"/>
      </box>
    </geometry>
    <material>
      <script>
        <name>Gazebo/Grey</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
      <ambient>0.3 0.3 0.3 1</ambient>
      <diffuse>0.7 0.7 0.7 1</diffuse>
      <specular>0.01 0.01 0.01 1</specular>
      <emissive>0 0 0 1</emissive>
      <shader type='vertex'>
        <normal_map>__default__</normal_map>
      </shader>
    </material>
    <pose frame=''>0 0 0 0 -0 0</pose>
    <cast_shadows>1</cast_shadows>
    <transparency>0</transparency>
  </visual> -->
  <collision name='collision'>
    <laser_retro>0</laser_retro>
    <max_contacts>10</max_contacts>
    <pose>0 0 0 0 -0 0</pose>
    <geometry>
      <box>
        <xacro:insert_block name="body_size"/>
      </box>
    </geometry>
  </collision>
</link>
<joint name="${body_prefix}_${name_prefix}_block_joint" type="fixed">
  <pose>0 0 0 0 0 0</pose>
  <child>${body_prefix}_${name_prefix}_block</child>
  <parent>${body_prefix}</parent>
</joint>
</xacro:macro>
</model>